body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.chat-app {
  background: linear-gradient(135deg, #4f69db, #5e3487);
}

.profile-sidebar {
  width: 300px;
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
  height: 100vh;
  transition: width 0.5s;
}

.profile-sidebar.closed {
  width: 100px;
}

.profile-sidebar nav ul {
  list-style: none;
  padding: 2px;
}

.profile-sidebar nav ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-sidebar nav ul li a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

.sidebar-toggle {
  position: sticky;
  top: 30px;
  right: 0;
  transform: translateY(-50%);
  background: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.sidebar-toggle:hover {
  background: #555;
}

@keyframes shake {
  0% {
    transform: translate(1px, 0);
  }
  25% {
    transform: translate(-1px, 0);
  }
  50% {
    transform: translate(1px, 0);
  }
  75% {
    transform: translate(-1px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.feature-icons {
  display: inline-block;
  animation: shake 0.5s infinite;
  transition: transform 0.3s, color 0.3s;
  color: #4f69db;
  cursor: grab;
}

/* custom sidebar */
.sidebar-c {
  height: 100vh; 
  overflow-y: auto; 
  position: sticky; 
  top: 0; 
}
.profile-section {
  position: sticky; 
  bottom: 0; 
  background: #f8f9fa; 
  padding: 1rem; /
}
.content-c {
  height: 100vh; 
  overflow-y: auto; 
}

.active {
  background: #4f69db;
  color: #fff;
  border-radius: 4px;

}
